In [15]:
import urllib.request
import pandas as pd
url = "https://en.wikipedia.org/wiki/List_of_K-pop_on_the_Billboard_charts"

with urllib.request.urlopen(url) as i:
    html = i.read()

weekly_chart = pd.read_html(html)[0]
weekly_chart.head()

  Chart date[5]      Artist                     Peak position Weeks on chart
0    2015-12-19         Psy                                88        1 (R) 2
1    2016-04-09     Got7[6]                                45        1 (R) 8
2    2016-10-29   BTS[7][8]  1 (Total 21 weeks)[a][9][10][11]    315 (R) 335
3    2018-02-03         Exo                                 9      18 (R) 47
4    2018-03-10  J-Hope[12]                                 6        2 (R) 9

In [14]:
kpop_billboard = pd.read_html(html)[1]

kpop_billboard.head()

  Chart Date[15]     Artist  Peak position  Weeks on Chart
0     2020-08-08   Monsta X             21               1
1     2020-09-12  Seventeen              4               1
2     2021-05-29       Luna             24               1

In [16]:
kpop_billboard_rising_twitter = pd.read_html(html)[2]
kpop_billboard_rising_twitter.head()

,Chart date[18],Artist,Song/album title,Peak position,Weeks on chart
0,2014-09-20,Infinite[19][20],"""Last Romeo""",1[j],1
1,2016-04-02,Fiestar,"""Mirror""",2,4 (R) 5
2,2016-06-25,Fiestar,"""Apple Pie""",5,5
3,2016-08-27,Wonder Girls,"""I Feel You""",41,1
4,2016-09-03,Infinite,"""Bad""",31,1

### Convert the result to CSV

In [17]:
kpop_billboard.to_csv('Kpop_Wikipedia.csv')